* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: a;
    src: url(./jost-variable.ttf);
}
@font-face {
    font-family: b;
    src: url(./KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf);
}
@font-face {
    font-family: c;
    src: url(./KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}

#main{
    position: relative;
    overflow: hidden;
    background-color: #1253ff;
}

#page1{
    height: 100vh;
    width: 100vw;
}

#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page1 nav{
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
    display: flex;
    height: 15vh;
    width: 100vw;
    /* background-color: rgba(0, 0, 0, 0.458); */
    position: absolute;
   
}
#page1 nav img{
width: 14%;
margin-top: -4vw;
margin-left: -7vw;
}
#right_nav{
    margin-right: 1vw;
}
#right_nav button{
    padding: 10px 20px;
    border-radius: 50px;
    border: 0.5px solid rgb(240, 240, 240);
    background-color: transparent;
    color: white;
    font-family: a;
    font-size: 18px;
    
}
.bottom_page{
    position: absolute;
    top: 40%;
    left: 10%;
    height: 45vh;
    width: 100vh;
    
}
.bottom_page h1{
    font-family: a;
    font-size: 5vw;
    color: white;
    font-weight: 100;
    line-height: 1;

}

.bottom_page_inner{
    position: absolute;
    height: 30%;
    width: 100%;
    bottom: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom_page_inner h4{
    color: white;
    font-family: a;
    font-size: 30px;
    font-weight: lighter;
}
.bottom_page_inner button{
    color: #1253ff;
    border-radius: 50px;
    font-size: 20px;
    font-family: a;
    padding: 15px 25px;
    background-color: rgba(255, 255, 255, 0.932);
    border: 1px solid white;

}


#page2{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: rgb(20, 58, 209);
    position: relative;
    padding: 0vh 10vw;
    font-family: a;
    transform: translate3d(0, 1px, 0);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
   
    z-index: 2;
}
#page2 h2{
    font-weight: 100;
    margin-bottom: 5px;
    color: white;

}

#page2 h1{
    width: 80%;
    font-size: 8vh;
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.666);
}

#page3{
   
    height: 100vh;
    width: 100vw;
    background-color: #143ad1;
    position: relative;
    z-index: 1;
    
}

#page4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    position: relative;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom,#1137ca,#0d36c5) ;
    font-family: a;

}

#page4>h3{
    margin-left: 10vw;
    color: white;
    margin-bottom: 1.25vh;

}
#page4>h1{
    font-size: 4vw;
    font-weight: lighter;
    width: 80%;
    margin-left: 10vw;
    line-height: 1;
    color: rgba(255, 255, 255, 0.666);
}

#page5{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color:#1137ca;
}
#page6{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    position: relative;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom,#0b2fc1,#093dcd) ;
    font-family: a;
}

#page6>h3{
    margin-left: 10vw;
    color: white;
    margin-bottom: 1.25vh;

}
#page6>h1{
    font-size: 4vw;
    font-weight: lighter;
    width: 80%;
    margin-left: 10vw;
    line-height: 1;
    color: rgba(255, 255, 255, 0.666);
}

#page7 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom,#1137ca,#0d36c5) ;
}

.page7-cir{
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    border: 1px solid white;
}
.page7-cir-inner{
    height: 70%;
    width: 70%;
    border: 1px solid white;
    border-radius: 50%;

}

#page8{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}
#page8>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.page8-bottom{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: a;
}
.page8-bottom>h1{
    color: #fff;
    margin-bottom: 2vw;
    font-size: 5vw;
    font-weight: 100;
}
.page8-bottom>button{
    padding: 20px 30px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    color: #0a3cce;
}

#page9{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}
.left9{
    height: 100%;
    width: 40%;
    position: relative;
    font-family: a;
}
.left9>h1{
    position: absolute;
    top: 40%;
    right: 2%;
    transform: translateY(-50%);
    font-size: 5vw;
    font-weight: 100;
    color: #fff;
    line-height: 1;
}
.right9{
    height: 100%;
    width: 60%;
    position: relative;
}
.right9-center{
    height: 50%;
    width: 85%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
    background-size: cover;
    left: 4%;
}


#page10{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}
.right10{
    height: 100%;
    width: 60%;
    position: relative;
    left: 40%;
}
.right10-inner{
    display: flex;
    align-items: start;
    flex-direction: column;
    height: 33.3%;
    width: 100%;
    font-family: a;
    color: #fff;
}
.right10-inner>h1{
    font-size: 2vw;
}
.right10-inner>p{
    margin-top: 2vw;
    font-size: 1.3vw;
    width: 80%;
}

#page13{
    position: relative;
    height: 50vh;
    width: 100vw;
    background-color: #000;
    color: #fff;
    font-family: a;
    padding: 7vw 10vw;
}
#page13>h1{
    font-size: 5vw;
    line-height: 1;
    font-weight: 100;
}
#page13>button{
    padding: 18px 30px;
    border: none;
    background-color: #0a3cce;
    color: #fff;
    border-radius: 50px;
    margin-top: 2vw;
}


#page14{
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color: #000;
}
.page14-inner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5vw;
    font-family: a;
    height: 33.3%;
    width: 100%;
    color: #fff;
    border-top: .5px solid #ffffff5c;
    border-bottom: .5px solid #ffffff48;
}
.page14-inner>i{
    font-weight: 100;
    font-size: 2.4vw;
    position: relative;
    z-index: 9999;
}
.page14-inner>h1{
    font-size: 3vw;
    font-weight: 100;
    position: relative;
    z-index: 9999;
}

.center14{
    height: 0%;
    width: 100%;
    background-color: #0a3cce;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all ease .5s;
}


.page14-inner:hover .center14{
    height: 100%;
}